backoff==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
bleak @ git+https://github.com/jpeters-ml/bleak@feature/windowsPairing ; python_version >= "3.9" and python_version < "4.0"
dbus-next==0.2.3 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Linux"
paho-mqtt==1.6.1 ; python_version >= "3.9" and python_version < "4.0"
pyobjc-core==9.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-cocoa==9.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==9.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-libdispatch==9.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Darwin"
winrt==1.0.21033.1 ; platform_system == "Windows" and python_version >= "3.9.0" and python_version < "4.0"
